.circular-img{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%
}

.circular-img, .icon-front img{
    width: 100%;
    height: auto;
}

.icon{
    width: 300px;
    height:300px;
    cursor: pointer;
}

.icon-middle{
    position: relative;
    top: 150px;
    left: 100px;
    transform: translate(-50%, -50%);
}

.icon-front, .icon-back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.back-content{
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    padding-left: 95px;
    width: 90%;
}

.icon-front{
    transform: perspective(800px) rotateY(0deg);
}
.icon-back{
    background: rbg(154, 163, 192);
    border-radius: 50%;
    background-color: black;
    transform: perspective(800px) rotateY(180deg);
}

.icon:hover > .icon-front{
    transform: perspective(800px) rotateY(-180deg);
}

.icon:hover > .icon-back{
    transform: perspective(800px) rotateY(0deg);

}

.tr-space{

    padding: 265px;

}
td{
    padding-left: 15px;
    padding-right:95px;
}

/*------------ Everything below relates to the page layout -----------*/

.sidebar-nav{
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;         /*stay on top*/
    top:0;
    left:0;
    background-color:black;
    overflow-x: hidden;
    padding-top:20px;
  
}

.sidebar-nav a {
    padding: 20px 10px 6px 20px;
    text-decoration: none;
    font-size:20px;
    color:white;
    display: block;
}

.sidebar-nav a:hover{
    color: lightgray;

}
.main{
margin-left: 200px;
padding: 0px 10px;      /*top and bottom = 0px, right and left =10px*/
}

body{

    background-color: whitesmoke;
}

.main-title{
    text-align: center;
    position: relative;
    color: black;
    background-color: whitesmoke;
    font-size: 30px;

}

.main-title-position{
    top:0;
    left:0;
    padding: 25px;
}

/*---------------------------------------------------------------------------------*/

#img-div-roxy{
    position: absolute;
    width:100%;
    height:50%;
    background-color:black;
    opacity: .5;
    animation:mymove 5s infinite;
}


#img-div-roxy:hover > @keyframes mymove{
    50%{top:100%;}

}